
body {
 width: 100vw;
 height: 100vh;
}

.mastodon-root{
    width: 100%;
    height: 100%;
    background-color: #191919;
}


.mastodon-wallpaper {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mastodon-wp-tridentu {
    background-image: url("wallpapers/login-screen-tridentu.png");
}

.mastodon-login-box {
    border-color: rgb(249, 248, 249);
    border-width: 1rem;
    border-style: dashed;
    width: 50%;
    height: 50%;
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 22.5%;
    padding-top: 0.4rem;
    padding-bottom: 1.6rem;
    padding-left: 0.4rem;
    padding-right: 1.6rem;
}

.mastodon-login-title {
    background: #191919;
    width: 50%;
    height: 13%;
    position: absolute;
    top: 6.25%;
    left: 25%;
    text-align: center;
    vertical-align: center;
    color: rgb(249, 248, 249);
    font-size: 4.2rem;
    font-family: "Iosevka";
    font-weight: bold;
}

.mastodon-login-logo {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 5%;
    top: 25%;
    background-color: rgb(249, 248, 249);
}

.mastodon-messages {
    width: 100%;
    height: 66.7%;
    position: absolute;
    font-family: Iosevka;
    color: red;
    text-align: center;
}

.mastodon-right-pane {
    width: 18vw;
    height: 35vh;
    position: absolute;
    left: 80%;
    top: 25%;
    border-style: solid;
    border-width: 0.4rem;
    text-align: center;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-color: rgb(249, 248, 249);
}

.mastodon-right-pane > * {
    width: 100%;
    display: block;
    margin-bottom: 0.15rem;
    margin-top: 0.15rem;
}


.mastodon-login-header {
    width: 90%;
    left: 5%;
    position: relative;
    
    height: 20%;
    border-bottom-style: solid;
    border-width: 0.5rem;
    border-color: rgb(249, 248, 249);
    
}

.mastodon-login-col {
    display: inline;   
}

.mastodon-login-col#avatar {
  float: left;   
  height: 100%;
  width:  25%;
  
}

.mastodon-login-col#login-form {
  float: right; 
  width: 75%;  
}
    
 .mastodon-login-col > .mastodon-select {
    width: 66.7%;
    left: 17.5%;
}


.mastodon-login-col > .mastodon-select > select {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mastodon-right-pane > .mastodon-select > select {
    width: 100%;
}


.mastodon-language-ind {
    font-family: Iosevka;
    font-size: 1.5rem;
    color: #fff191;
    text-decoration: underline;
    padding-right: .5rem;
    padding-left: .5rem;
    vertical-align: middle;
}


.mastodon-login-sidebar {
    width: 25%;
    height: 80%;
    border-right-style: solid;
    border-width: 0.5rem;
    border-color: rgb(249, 248, 249);
    text-align: center;
}

.mastodon-login-sidebar-title {
    text-align: center;
    width: 100%;
    left: 25%;
    font-family: Iosevka;
    font-size: 1.4rem;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

.mastodon-login-sidebar-menu {
    text-align: left;
    color: white;
    list-style-type: none;
    cursor: pointer;
    font-family: Iosevka;

    
}
.mastodon-login-sidebar-menu > li:hover {
    text-align: left;
    color: lightblue;
    list-style-type: disc;
    transition: all 0.75s ease-out;

}

.mastodon-login-content {
    width: 70%;
    left: 27.5%;
    top: 25%;
    position: absolute;
    height: 70%;
    text-align: center;
    background-color: gold;
}

.mastodon-login-col > * {
   left: 25%;
    position: relative;  
    font-family: Iosevka;
}

.mastodon-password {
    width: 47.5%;
    top: 10%;
}

.mastodon-login {
  font-family: Iosevka;
  display: block;
  width: 50%;
  left: 12.5%;
  height: 10%;
  position: relative;
  margin-top: 1rem;
  background-color: rgb(0, 163, 255);
  margin-bottom: 1rem;
}
