
body {
 width: 100vw;
 height: 100vh;
 background-color: #191919;

}

.mastodon-root{
    width: 100%;
    height: 100%;
    background-color: #191919;
    opacity: 0;
}


.mastodon-wallpaper {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mastodon-wallpaper.mastodon-start {
    transition: all 1s ease-out;
    opacity: 0;
}

.mastodon-wp-tridentu {
    background-image: url("wallpapers/login-screen-tridentu.png");
}

.mastodon-login-box {
    border-color: rgb(249, 248, 249);
    border-width: 1rem;
    border-style: dashed;
    width: 50%;
    height: 50%;
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 22.5%;
    padding-top: 0.4rem;
    padding-bottom: 1.6rem;
    padding-left: 0.4rem;
    padding-right: 1.6rem;
}

.mastodon-login-box.mastodon-start {
    opacity: 0;
    transition: all 0.375s ease-out;
}

.mastodon-login-title {
    background: #191919;
    width: 50%;
    height: 13%;
    position: absolute;
    top: 6.25%;
    left: 25%;
    text-align: center;
    vertical-align: center;
    color: rgb(249, 248, 249);
    font-size: 4.2rem;
    font-family: "Iosevka";
    font-weight: bold;
}

.mastodon-login-logo {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 5%;
    top: 5%;
    background-color: rgb(249, 248, 249);
}

.mastodon-messages {
    width: 100%;
    height: 66.7%;
    position: absolute;
    font-family: Iosevka;
    color: green;
    text-align: center;
}

span.mastodon-error {
    width: 100%;
    height: 100%;
    font-family: Iosevka;
    color: red;
    text-align: center;
}

.mastodon-right-pane {
    width: 18vw;
    height: 35vh;
    position: absolute;
    left: 80%;
    top: 25%;
    border-style: solid;
    border-width: 0.4rem;
    text-align: center;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-color: rgb(249, 248, 249);
}

.mastodon-right-pane > * {
    width: 100%;
    display: block;
    margin-bottom: 0.15rem;
    margin-top: 0.15rem;
    font-family: Iosevka;   

}


.mastodon-login-header {
    width: 90%;
    left: 5%;
    position: relative;
    
    height: 20%;
    border-bottom-style: solid;
    border-width: 0.5rem;
    border-color: rgb(249, 248, 249);
    
}

.mastodon-login-col {
    display: inline;   
}

.mastodon-login-col#avatar {
  float: left;   
  height: 100%;
  width:  25%;
  
}

.mastodon-login-col#login-form {
  float: right; 
  width: 75%;  
}
    
 .mastodon-login-col > form  .mastodon-select {
    width: 75%;
    left: 7.5%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: Iosevka;   
    position: relative;
}


.mastodon-login-col > form  .mastodon-select > select {
    width: 100%;
    margin-top: 0.5rem;
    font-family: Iosevka;   
    margin-bottom: 0.5rem;
}

.mastodon-right-pane > .mastodon-select > select {
    width: 100%;
}


.mastodon-language-ind {
    font-family: Iosevka;
    font-size: 1.5rem;
    color: #fff191;
    text-decoration: underline;
    padding-right: .5rem;
    padding-left: .5rem;
    vertical-align: middle;
}


.mastodon-login-sidebar {
    width: 25%;
    height: 80%;
    border-right-style: solid;
    border-width: 0.5rem;
    border-color: rgb(249, 248, 249);
    text-align: center;
}

.mastodon-login-sidebar-title {
    text-align: center;
    width: 100%;
    left: 25%;
    font-family: Iosevka;
    font-size: 1.4rem;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

.mastodon-login-sidebar-menu {
    text-align: left;
    color: white;
    list-style-type: none;
    cursor: pointer;
    font-family: Iosevka;
    font-size: 1.2rem;
    overflow-x: hidden;
}

.mastodon-login-sidebar-menu > li {
    transition: all 0.375s ease-out;
}

.mastodon-login-sidebar-menu.mastodon-start > li {
    transform: translateX(-125%);
    transition: all 0.375s ease-out;
}

.mastodon-login-sidebar-menu > li:hover {
    text-align: left;
    color: lightblue;
    list-style-type: disc;
    transition: all 0.375s ease-out;
    transform: translateX(10%);
}

.mastodon-login-content {
    width: 70%;
    left: 27.5%;
    top: 25%;
    position: absolute;
    height: 70%;
    text-align: center;
}

.mastodon-login-col > *{
   left: 7.5%;
    position: relative;  
    font-family: Iosevka;
}

.mastodon-input {
    width: 75%;
    top: 10%;
    left: -5%;
    height: 15%;
    border-radius: 2px;
    position: relative;  
    margin-top: 0.5rem;
    font-family: Iosevka;
    transition: all .3s ease-out;
    appearance: none;
    box-shadow: none;
    border: none;
}
.mastodon-input:focus{
  border-color: blue;
  border-style: solid;
  width: 75%;
  height: 15%;
  border-width: 4px;
  appearance: none;
  transition: all .3s ease-out;
}

.mastodon-login {
  font-family: Iosevka;
  display: block;
  width: 75%;
  left: 7.5%;
  box-shadow: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  height: 12.5%;
  position: relative;
  padding: 0.4rem 4% !important;
  margin-top: 1rem;
  background-color: rgb(0, 163, 255);
  margin-bottom: 1rem;
  border-radius: 0.2rem;
}

.select2-results {
  font-family: Iosevka;   
}

.mastodon-overlay {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.mastodon-overlay h2 {
    position: relative;
    width: 50%;
    font-size: 3.0rem;
    left: 25%;
    top: 15%;
    text-align: center;
    color: #ffffff;
    font-family: Iosevka;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}

.mastodon-blurred {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    filter: blur(10px);
}

.mastodon-clock {
    font-family: Orbitron, Iosevka;
    position: absolute;
    width: 50%;
    font-size: 4.0rem;
    left: 25%;
    top: 30%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.mastodon-entry {
  font-family: Iosevka;
  display: block;
  width: 25%;
  left: 37.5%;
  box-shadow: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 2.4rem;
  height: 10%;
  position: absolute;
  padding: 0.4rem 4% !important;
  margin-top: 1rem;
  background-color: rgb(0, 163, 255);
  margin-bottom: 1rem;
  top: 45%;
  border-radius: 0.2rem;
}
